body {
    font-family: 'supermarket';
}

nav {
    background-color: white;
    position: relative;
    z-index: 100;
}


header{
  width: 100%;
  z-index: 9999;
  position: fixed;
top: 0;
transition: top 0.2s ease-in-out;
width: 100%;
}


.padding_header{
  padding-top: 140px;
}

.nav-up {
    top: -140px;
}

.bgcHeader{
  background-color: #fff;
}

.row{
  box-sizing: border-box;
  width: 100%;
  margin: 0!important;
}

.menu-list {
    display: inline-block;
}

.menu-list a{
  color:black;
}

.menu_item {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    transition: all 0.2s;
}

.menu_item:hover {
    background-color: #EE9621;
    color: white;
}

.search {
    float: right;
    padding: 10px;
    display: flex;
    margin-top: 10px;
}

.search input {
    border: 2px solid #999999;
    display: inline-block;
    height: 18px;
    font-size: 16px;
    padding: 5px;
    box-shadow: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.search button {
    height: 32px;
    background-color: #152E6F;
    color: white;
    border: 2px solid #999999;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.search input:hover,
.search input:visited,
.search input:active {
    box-shadow: none !important;
    border: 2px solid #999999;
}

.search input:focus {
    border: 2px solid #999999 !important;
    box-shadow: none !important
}

.banner {
    width: 100%;
    height: 800px;
    background-color: black;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
}

.titleBar {
    width: 100%;
    height: 65px;
    background-color: #152E6F;
}

.title {
    display: flex;
    align-items: center;
    height: 100%;
}

.title label {
    font-size: 28px;
    color: #FF962F;
    margin-top: 10px;
    margin-left: 15px;
}

.map {
    width: 100%;
    height: 500px;
    background-color: black;
    background-image: url('../images/map.jpg');
    background-size: cover;
    background-position: center;
}

.wrapSocial{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.setTable{
  display: flex;
  flex-wrap: wrap;
}

.setTable.row .col.s4{
    margin-left: 0;
}
.itemSocial{
  max-width: 130px;
  max-height: 130px;
  width: 10vw;
  height: 10vw;
  margin: 15px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 5px;
  box-sizing: border-box;
}
.itemSocial label{
  width: 100%;
  text-align: center;
  font-size: 21px;
  color: #000;
  margin-top: 2px;
}
.itemIconSocial{
  width: 70%;
  height: 70%;
  background-color: #152E6F;
  border-radius: 50%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.itemIconSocial img{
  width: 60%;
  height: 60%;
}

.itemIconSocial i{
  font-size: 60px;
  color: white;
}
.detail {
    text-align: center;
    font-size: 21px;
}

.label {
    width: 100%;
    text-align: right;
}

.label label {
    font-size: 21px;
}

.image_thumnail {
    width: 100%;
    height: 600px;
    background-color: blue;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.image_mini_thumnail {
    width: 100%;
    height: 287px;
    background-color: yellowgreen;
    background-size: cover;
    background-position: center;
}

.image_thumnail:hover .bgOpacity{

    opacity: 1;
}


.image_mini_thumnail:hover .bgOpacity {
    opacity: 1;
}

.bgOpacity {

    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.73);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.73) 0%, rgba(87, 87, 87, 0.36) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.73)), color-stop(100%, rgba(87, 87, 87, 0.36)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.73) 0%, rgba(87, 87, 87, 0.36) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.73) 0%, rgba(87, 87, 87, 0.36) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.73) 0%, rgba(87, 87, 87, 0.36) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.73) 0%, rgba(87, 87, 87, 0.36) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#575757', GradientType=0);
    padding: 20px;
    transition: all 0.5s;
}

.bgOpacity p {
    color: white;
    font-size: 24px;
}

.image_mini_thumnail .bgOpacity {
      opacity: 0;
       transition: all 0.5s;
       padding: 10px;
}

.itemTitle {
    background-color: #ff962f;
    width: auto;
    padding: 10px;
    display: inline-block;
}

.itemTitle h2 {
    margin: 0;
    font-size: 38px;
    color: #152E6F;
}

.image_mini_thumnail .itemTitle h2 {
    font-size: 24px;
}

.image_mini_thumnail .bgOpacity p {
    color: white;
    font-size: 16.5px;
    margin: 5px 0;
}

.product {
    height: 180px;
    width: 100%;
    background-color: #F0F0F0;
    margin: 10px 0;
    padding: 10px;
}

.product h5{
    color: #5bc8b3 ;
}
.product .label label{
    font-size: 16px;
    padding-top: 5px;
    color: #152e6f;
}
.product .container,
.product .container .row {
    height: 100%;
    margin: 0;
    width: 100%;
}

.product_img {
    height: 100%;
    background-color: red;
    background-image: url("https://specials-images.forbes.com/dam/imageserve/588ceb1a31358e698ade32cd/0x0.jpg");
    background-size: cover;
    background-position: center;
}

.product_detail {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.product_detail p {
    margin: 0;
}

.product_detail h5 {
    margin: 0;
}

.bannerText {
    width: 100%;
    height: 270px;
}

.bgOpacity_bannerText {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;

}

.bgOpacity_bannerText .label label{
  color: #fff;
}

.bannerText p {
    font-size: 32px;
    color: white;
}

.news_img {
    height: 250px;
    width: 100%;
    background-color: red;
    background-image: url("https://specials-images.forbes.com/dam/imageserve/588ceb1a31358e698ade32cd/0x0.jpg");
    background-size: cover;
    background-position: center;
}

.mini_banner {
    width: 100%;
    height: 150px;
    background-color: #152E6F;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini_banner .container{
  height: 100%;
}
.mini_banner .row{
  height: 100%;
}
.mini_banner .col{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.moreicon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.circle{
    width: 15px;
    height: 15px;
    background-color: #FF962F;
    display: inline-block;
    margin: 2px;
}

.itemIconSocial.line:hover,
.itemIconSocial.line.hover{
  background-color: #00B900;
}

.itemIconSocial a.facebook {
  background-color: #152E6F;
}

.itemIconSocial.facebook:hover,
.itemIconSocial.facebook.hover{
  background-color: #4165BA;
}

.itemIconSocial a.phone {
  background-color: #152E6F;
}

.itemIconSocial.phone:hover,
.itemIconSocial.phone.hover {
  background-color: #72BCF0;
}

.itemIconSocial a.location {
  background-color: #152E6F;
}

.itemIconSocial.location:hover,
.itemIconSocial.location.hover{
  background-color: #CA3A28;
}

.itemIconSocial.email:hover ,
.itemIconSocial.email.hover{
  background-color: #fb7d11;
}

footer{
  background-color: #fff;
}

.footer_bar{
  width: 100%;
  height: auto;
  background-color: #6B7AA3;

}

.footer_bar .s12{
padding-top: 10px;
box-sizing: border-box;
}

.footer_detail p{
  font-size: 18px;
}

.footer_detail .col iframe{
  margin-top: 20px;
}

.mini_iconSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.mini_iconSocial h6{
    font-size: 21px;
    margin-top: 30px;
}
.mini_iconSocial .wrapSocial .itemSocial{
  width: 54px;
  height: 58px;
  margin: 2px;
  border: none;
}

.footerCopy{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #152E6F;
}

.footerCopy p{
    color: #fff;
}

.mini_iconSocial .wrapSocial .itemIconSocial i{
  font-size: 18px;
}

.mini_iconSocial .wrapSocial .itemSocial label{
  font-size: 16px;
}


/* other page */
.miniBanner{
    width: 100%;
    height: 200px;
    background-color: red;
    background-position: center;
    background-size: cover;
}

.miniBanner .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniBanner h2{
    color: white;
}

.hightlightItem{
    width: 100%;
    height: 300px;
    background-position: center;
    background-image: url("../images/shutterstock_121286026.jpg");
    background-size: cover;
    margin:  10px 0;
}

.moveRight{

        display: flex;
    justify-content: flex-end;
}

.about{
text-align: center;
}

.about p{
    font-size: 21px;
    line-height: 32px;
}

.about h3{
    color: #EE9621;
}

.about .s7 p{
    text-align: left;
    margin-left: 15px;
}

.imageJoin{
    height: 500px;
    background-color: red;
    background-image: url("../images/IMG_5583.jpg");
    background-position: center;
    background-size: cover;
}

.join p{
    font-size: 21px;
}



.inputContact h6 {
  font-size: 18px;
}

.inputContact textarea {
  background-color: #3A3A3A;
  height: 80px;
}

.inputContact .btn {
  margin: 10px 0 20px 0;
  background-color: #152E6F;
}

input.input_contact_box {
  background-color: #3A3A3A;
  border: none;
  height: 35px;
  margin-bottom: 10px;
}

input[type=text]:focus:not([readonly]) {
  border: none;
  box-shadow: none;
}

.boxContenct {
  background-color: #E0E0E0;
  padding: 10px;
}

.imgProduct_detail{
  width: 100%;
  height: 450px;
  background-color: red;
}
@media only screen and (min-width: 1120px) {
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 1325px) {
   .about p{
    font-size: 1.3vw;
    line-height: 32px;
     line-height: 2.5vw;
}
}



@media only screen and (max-width: 1120px){
    .container {
        width: 100%;
    }

    .brand-logo{
      margin-left: 10px;
    }

    .menu_item{
      padding: 5px;
      padding-top: 8px;
    }

    .search{
      margin-top: 5px;
      width: 180px;
    }

    .image_mini_thumnail .itemTitle h2 {
    font-size: 18.5px;
    }

.image_mini_thumnail .bgOpacity p {

    font-size: 14.5px;

    }
}

@media only screen and (max-width: 1010px) {
   .about p{
    font-size: 1.5vw;
    line-height: 32px;
     line-height: 2.5vw;
}
}
